#!/bin/bash


cd /home/deploy/{{item}}
if [ {{item}}="referenceLetterApp" ]
then
    git checkout dockerize
fi

git pull

docker-compose down

docker-compose up --build

docker exec -i referenceletterapp-mysqldb-1 /bin/sh -c 'mysql -u root -proot </docker-entrypoint-initdb.d/data.sql'

# Pass current commit hash as the image tag
#COMMIT=`git rev-parse HEAD` docker-compose -f docker-compose.yml -f docker-compose-prod.yml up -d